.cartPage {
  height: 100vh;
  max-width: 100vw;
  margin: -15px -15px 0px;
  padding: 15px 15px 0px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  animation: fadeInRight 0.6s ease-in-out both;
}
.popularFoodContainer {
  flex: 1;
}
.popularItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  justify-content: space-between;
  padding: 10px;
  column-gap: 5px;
  margin: 10px 0px;
  scroll-snap-align: center !important;
}

.popularItemPic {
  width: 79px;
  height: 79px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popularprice {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ff4200;
}
.popularItemName {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;

  color: #000000;
}
.popular {
  display: flex;
  flex-direction: column;
  column-gap: 0.8rem;
  margin: 0px -15px 0 -15px;
  padding: 0 15px;

  overflow: auto;
  scroll-snap-type: x mandatory;
}
.popular::-webkit-scrollbar {
  display: none;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightColor);
  position: sticky;
  top: 70px;
  width: 100vw;
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: #00000011 1px solid;
}
.introText {
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}
.summary {
  height: 296px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.31);
  border-radius: 30px 30px 5px 5px;
  width: 100vw;
  margin: 0 -15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0px;
  animation: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms backwards;
}
.summary_rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-up-now {
  -webkit-animation: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  -moz-animation: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  animation: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.slide_down {
  animation: slide_down 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  flex-direction: column;
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide_up {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
/* 
[transform: translateY(100%),
    transform: translateY(0)]
*/
@keyframes slide_down {
  0% {
    height: 100%;
  }
  100% {
    height: 0px;
  }
}

.counter {
  width: 27px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fa602b;
  border-radius: 16px;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}

.left{
  display: flex;
  column-gap: 15px;
  align-items: center;
}