.cartPage {
  height: 100vh;
  max-width: 100vw;
  margin: -15px -15px 0px;
  padding: 15px 15px 0px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  animation: fadeInRight 0.6s ease-in-out both;
}
.popularFoodContainer{
  flex: 1;
}
.popularItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;

  padding: 10px;
  column-gap: 5px;
  margin: 10px 0px;
  scroll-snap-align: center !important;
}

.popularItemPic {
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popularprice {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ff4200;
}
.popularItemName {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;

  color: #000000;
}
.popular {
  display: flex;
  flex-direction: column;
  column-gap: 0.8rem;
  margin: 0px -15px 0 -15px;
  padding: 0 15px;

  overflow: auto;
  scroll-snap-type: x mandatory;
}
.popular::-webkit-scrollbar {
  display: none;
}
