    .strike {
        display: block !important;
        width: 80%;
        text-align: center;
        overflow: hidden;
        color: var(--lightColor);
        white-space: nowrap; 
        margin: 0 auto;
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 200px;
        /* Here is the modification */
        height: 0px; /* space between lines */
       ; /* adjust vertical align */
        border-top: 0px;
        border-bottom: 1px solid var(--lightColor);
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }