.foodImage {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 15px 15px;
    height: 269px;
    margin: -20px -15px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}

.foodPage {
    min-height: 100vh;
    max-width: 100vw;
    margin: -15px -15px;
    padding: 15px;
    background: #E5E5E5;
    


}

.sizeOption {
    width: 115px;
    height: 48px;
    background: rgba(255, 66, 0, 0.3);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeOptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

/* sizeoption change background onclicked */
.sizeOption:hover {
    background: #FF4200;
    color: #fff;
}

.mealPrice strong p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FF4200;
    margin-bottom: 30px;

}
.light {
   color: rgb(145 145 145);
   
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 40px);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    bottom: 10px;
}
.cirleBorder{
    /* padding: 6px; */
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
.border{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 75%;
height: 55.36px;
border-radius: 30px;
background-color: #fff;
padding: 3px;
}
.addCart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4200;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.mealDescription p{
    margin-bottom: 20px;
}
p.light{
    margin-bottom: 80px;
}