html,
body {
  padding: 0;
  margin: 0;
  font-family:'poppins', sans-serif;
    min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* transition: all 0.6s ease; */
  
}
:root {
  --lightColor: #E5E5E5;
  --orange: #FF4200;
}
.carousel .control-dots .dot {
 transition: opacity .25s ease-in;
 opacity: .3;
 filter: alpha(opacity=30);
 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0) !important;
 background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
    background-color: var(--orange) !important;
 }
 input,
textarea,
button,
select,
a, div,p,small {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
button {
  all: unset;
  cursor: pointer;
}
h1{
  display: block;
  width: 100%;
}
.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.otp {
  width: 58px !important;
  height: 58px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 24px;
  line-height: 40px;
  margin-right: 5px;
    text-align: center;
  background: #f6f6f6;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.tabs {
  display: flex;
  width: 100vw;
  margin: 0 -15px 40px !important;
  padding: 0 !important;

  /* justify-content: space-between; */
}

.tabs button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  transition: all 0.5s ease-out;
  line-height: 24;
  text-align: center;

}

.tabs button:hover {
  color: black;

}

.tabs button:disabled {
 
  color: black; 
  border-bottom: 2px solid var(--orange);
}

.title {
  color: black;
  font-size: medium;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.text-muted {
  padding: 10px;
  cursor: pointer;
}
.content {
  padding: 50px 80px;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

.content,
button {
  font-size: 15px;
}
input.form-control {
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  width: 100% !important;
  margin-bottom: 10px;
  font-size: 16px !important;
  line-height: 22px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  width: 100%;
  border-color: #7a7a7a !important;
  border-width: 0.5px !important;
  height: auto !important;
  background-color: var(--lightColor) !important;
}
.react-tel-input{
   border-radius: 0px;
  /* border-bottom: 1px solid #ccc; */
  padding: 0px !important;
  font-size: 15px;
  width: 100% !important;
  margin-bottom: 10px;
  padding: 0rem;
  background-color: var(--lightColor) !important;

}
.layout{
  min-height: 100vh;
    width: 100vw;
    margin: -15px -15px;
    padding: 15px;
    background: #E5E5E5;
}
p{
  font-size: 16px;
  line-height: 20px;
}

         @keyframes fadeInRight {
            0% {
               opacity: 0.5;
               transform: translateX(20px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         

         
@keyframes slide_down {
  0% {
    height: 100%;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}