html,
body {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
}
:root {
  --lightColor: #E5E5E5;
  --orange: #FF4200;
}
.carousel .control-dots .dot {
 transition: opacity .25s ease-in;
 opacity: .3;
 filter: alpha(opacity=30);
 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0) !important;
 background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
    background-color: var(--orange) !important;
 }