.container {
  /* background-color: #f5f5f8; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
}
.onboardingPage {
  margin-top: 140px;
  height: 100vh;
}

.imgcontainer {
  height: 400px;
}
.welcome {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0px -15px; */
  align-items: center;
}
.welcomeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}
.dot.selected {
  background-color: var(--orange);
}
.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.onboardingButtons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  margin-top: 100px;
  row-gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
}
.general {
  padding: 15px 15px 0px;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-flow: column;
  animation: fadeInRight 0.6s ease-in-out both;
}
.input {
  outline: var(--orange) 0px solid;
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 10px 10px 10px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  width: 100%;
  border-color: #363636;
  /* border-width: 1px; */
  border-bottom-width: 0.5px;
  /* border-radius: 8px; */
}

.input::-moz-focus-inner,
.input::selection,
.input:focus {
  /* outline: 0 0 1px 1px !important; */
  border-top: none !important;
  border-right: none !important;
  border-color: var(--orange) !important;
}
.input:invalid {
  border-color: red;
}
.input:focus-visible {
  border-color: var(--orange);
  outline: 0px solid transparent;
}
.input:invalid {
  border-color: red;
  content: "invalid input";
}
.input::placeholder {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
}
.tc {
  display: block;
  width: 100%;
  text-align: end;
}
.tcs {
  display: flex;
  flex-direction: row;
  /* font-size: 14px; */
  justify-content: space-between;
  width: 100%;
}
.button {
  color: #fff;
  background-color: #000000;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}
.orange {
  color: var(--orange);
}
.home {
  min-height: 100vh;
  max-width: 100vw;
  margin: -15px -15px;
    padding: 0px 15px 0px;
    display: flex;
    flex-direction: column;
  background: #e5e5e5;
  animation: fadeInRight 0.6s ease-in-out both;
}
.homebody{
  flex: 1;
}
 
         @keyframes fadeInRight {
            0% {
               opacity: 0;
               transform: translateY(3%);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         
.intro {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.introText {
  margin-bottom: 10px;
}
.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  column-gap: 15px;
}
.searchBar {
  background: #ffffff;
  border-radius: 10px 10px 25px 10px !important;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.search {
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}
.filterBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  /* column-gap: 15px; */
}
.filter {
 
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  padding: 7px 6px;
  background: #fa602b;
  scroll-behavior: smooth;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-size: 12px;
  z-index: 100;
}
.foodMenu {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin: 0px -15px 0 -15px;
  padding: 0 15px;
  height: 300px;
  scroll-behavior: smooth;
  overflow: auto !important;
  scroll-snap-type: x mandatory !important;
}
.foodMenu a {
  scroll-snap-align: center !important;
  /* padding: 10px; */
  margin: 20px 0;
}
.foodMenu a p{
      font-size: 14px;
    /* font-weight: 500 !important; */
    text-transform: lowercase;


}
.foodMenuBody:hover {
  background-color: #000000d8;
  color: #ffffff !important;
}
.foodMenu::-webkit-scrollbar {
  display: none;
}
.foodMenuBody {
  width: 147px;
  min-height: 193px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 45%;
  z-index: 1;
}
.light {
  color: rgba(196, 196, 196, 1);
}
.foodMenuHeader {
  width: 150px;
  height: 150px;
  z-index: 30 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: -280px auto 0px;
  
  /* margin-left: -10px; */
}
.price {
  font-weight: 600;
  font-size: 18px !important;
  line-height: 18px;
  color: #fd8835;
  margin: 20px 0px 10px;
}

.popularItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  width: 400px;
  padding: 10px 10px 10px 5px;
  column-gap: 5px;
  margin: 20px 0px;
  scroll-snap-align: center !important;
}

.popularItemPic {
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popularprice {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ff4200;
}
.popularItemName {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;

  color: #000000;
}
.popular {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
  margin: 0px -15px 0 -15px;
  padding: 0 15px;

  overflow: auto;
  scroll-snap-type: x mandatory;
}
.popular::-webkit-scrollbar {
  display: none;
}
.foodMenuItem:hover {
  transform: scale(1.09);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}
