.container {
  /* background-color: #f5f5f8; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
}
.onboardingPage {
  margin-top: 140px;
  height: 100vh;
}

.imgcontainer {
  height: 400px;
}
.welcome {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px -15px;
  align-items: center;
}
.welcomeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}
.dot.selected {
  background-color: var(--orange);
}
.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.onboardingButtons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  margin-top: 100px;
  row-gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
}
.general {
  padding: 15px 15px;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-flow: column;
}
.input
{
  outline: var(--orange) 0px solid;
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 10px 10px 10px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  width: 100%;
  border-color: #363636;
  /* border-width: 1px; */
  border-bottom-width: 0.50px ;
  /* border-radius: 8px; */
}

.input::-moz-focus-inner,
.input::selection,
.input:focus {
  /* outline: 0 0 1px 1px !important; */
  border-top: none !important;
  border-right: none !important;
  border-color: var(--orange) !important;
}
.input:invalid {
  border-color:  red;
}
.input:focus-visible {
  border-color: var(--orange);
  outline: 0px solid transparent;
  
}
.input:invalid {
  border-color: red;
  content: "invalid input";
}
.input::placeholder {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
}
.tc {
  display: block;
  width: 100%;
  text-align: end;
}
.tcs {
  display: flex;
  flex-direction: row;
  /* font-size: 14px; */
  justify-content: space-between;
  width: 100%;
}
.button {
  color: #fff;
  background-color: #000000;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}
