.profile{
  min-height: 100vh;
    width: 100vw;
    margin: -15px -15px;
    padding: 15px;
    background: #E5E5E5;
}
.dpContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.profilebutton_container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 18px;
  background: #ffffff;
  border-radius: 20px;
  color: #000000;
  text-align: center;
}
.profile_page_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  row-gap: 1.1rem;
  margin-bottom: 50px;
}
.userName {
  text-transform: capitalize;
  font-style: normal;
  margin-bottom: 0.5rem;
}
.icon {
  font-weight: 900;
  stroke-width: 0.5;
  color: #000000;
}
.button p {
  width: 180px;
  text-align: start;
  /* color: rgba(0, 0, 0, 1); */
  font-weight: 500;
}
.button:hover{
  color: #ffffff;
  background: #000000;
}